body{
  min-height: 100vh;
  background-image: url('https://media.istockphoto.com/id/603858974/photo/gold-tree-on-a-vineyard-in-autumn.jpg?s=2048x2048&w=is&k=20&c=CzM1CPPLT7ByQoawVrjU8nqu5bfBE8QY4MAU_oSwzR8=');
 background-repeat: no-repeat;
 background-size: cover;
}

.buttons{
  display: flex;
  justify-content: flex-end;
  position: relative;
  top:-515px;
  background-color:aliceblue;
  opacity: 0.8;
}
.linkss{
  text-decoration: none;
  font-size: 25pt;
  color:black;
  margin-right: 20px;
  font-weight: 500;
  
}
#qoutess{
  position: relative;
  top: 10px;
  /* right: 80px; */
  margin-left: 200px;
  z-index: 0;
}

.quote{
  height: 300px;
  width:600px;
  text-align: center;
  font-size: 25pt;
  font-weight: 600;
  background-color: rgb(252, 230, 108);
  position: relative;
  top: 200px;
  left: 200px;
  opacity: 0.7;
  border-radius: 25px;
}
.active {
  color: red;
  font-weight: bold;
}

.linkss:hover{
  color: blue;
}

button{
  height: 50px;
  width: 200px;
  font-size: 20pt;
  border-radius: 35px;
  background-color: rgb(212, 166, 255);
 
}

.logout{
  position: relative;
  right: 0px;
}

.logins{
  font-size: 17pt;
  height: 600px;
  width:400px;
  background-color:aliceblue;
  float: right;
  position: relative;
  top:60px;
  right: 60px;
  opacity: 0.8;
}
input{
  font-size: 25pt;
  border-radius: 20px; 
  width: 350px;
}

.down{
  margin-top: 20px;
}

button:hover{
  background-color: rgb(134, 255, 255);
}

.Homely{
  position: relative;
  top: 30px;
  font-size: larger;
  
}

.Homelyy{
  color: aliceblue;
}